pip>=21.0,<23.3
colorlog
homeassistant
# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
tgtg==0.16.0
